HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*src/test
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/mvnw
/mvnw.cmd
/.mvn/wrapper/maven-wrapper.properties

/.env

/frontend/dist/assets/CreateExam-Drio8gzQ.js
/frontend/dist/assets/CreateExam-NbOXu6U5.css
/frontend/dist/assets/ExamSubmissions-CEXE4hc2.js
/frontend/dist/assets/Home-CTTJEqo5.js
/frontend/dist/assets/index-DLMEgJAN.js
/frontend/dist/assets/InstructorDashboard-fMq7UGn_.js
/frontend/dist/assets/Login-BZxwDwuJ.js
/frontend/dist/assets/StudentDashboard-Cvz0YYgN.js
/frontend/dist/assets/TakeExam-ve9frx79.js
/frontend/dist/assets/ViewResults-6YOV9PWc.js
/storage/.gitkeep
