HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*src/test
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/mvnw
/mvnw.cmd
/.mvn/wrapper/maven-wrapper.properties

/.env

/frontend/dist/assets/CreateExam-Drio8gzQ.js
/frontend/dist/assets/CreateExam-NbOXu6U5.css
/frontend/dist/assets/ExamSubmissions-CEXE4hc2.js
/frontend/dist/assets/Home-CTTJEqo5.js
/frontend/dist/assets/index-DLMEgJAN.js
/frontend/dist/assets/InstructorDashboard-fMq7UGn_.js
/frontend/dist/assets/Login-BZxwDwuJ.js
/frontend/dist/assets/StudentDashboard-Cvz0YYgN.js
/frontend/dist/assets/TakeExam-ve9frx79.js
/frontend/dist/assets/ViewResults-6YOV9PWc.js
/storage/.gitkeep
/frontend/node_modules/.vite/deps/chunk-VID4RN2V.js
/frontend/node_modules/.vite/deps/chunk-VID4RN2V.js.map
/frontend/node_modules/.vite/deps/chunk-XIE6TSIF.js
/frontend/node_modules/.vite/deps/chunk-XIE6TSIF.js.map
/frontend/dist/assets/CreateExam-DVsTEKhy.js
/frontend/dist/assets/ExamSubmissions-FnFXaC_s.js
/frontend/dist/assets/Home-D35Wzksa.js
/frontend/dist/assets/index-B7i0N3RO.js
/frontend/dist/assets/InstructorDashboard-BtFq7Nft.js
/frontend/dist/assets/Login-D8H9fSoI.js
/frontend/dist/assets/StudentDashboard-BF_gWwn1.js
/frontend/dist/assets/StudentDashboard-DL26avDb.css
/frontend/dist/assets/TakeExam-BexTR0a8.js
/frontend/dist/assets/ViewResults-DBtQJH3m.js
